<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manners Matter</title>
    <link rel="icon" type="image/x-icon" href="../../views/images/favicon.png">
    <link rel="stylesheet" href="../../views/styles/quiz.css">
    <link rel="stylesheet" href="../../views/styles/style.css">
  </head>
  <body>
    <header>
        <div class="logo">
          <a href="../../views/index.html">Manners Matter</a>
        </div>
        <div class="title">
           Quiz
        </div>
        <div class="profile">
          <div class="username">
            <a href="../../views/Login.html">Login</a>
          </div>
          <div class="dropdown_profile">
            <div class="avatar">
            </div>

            <div class="dropdown_content">
              <a href="../../views/Profile.html">My Profile</a>
              <a href="../../views/Login.html">Logout</a>
            </div>
          </div>
        </div>

    </header>
    <main>
        <nav>
          <ul>
            <li>
              <a href="../../views/index.html">Home</a>
            </li>
            <li>
              <a href="../../views/Profile.html">Profile</a>
            </li>
            <li>
              <a href="../../views/Advices.html">Advices</a>
            </li>
            <li>
              <a href="../../views/Challenge.html">Challenge</a>
            </li>
            <li>
              <a href="../../views/Ranking.html">Ranking</a> 
            </li>
            <li>
              <a href="../../views/About.html">About</a>
            </li>
            <li>
              <a href="../Contact.html">Contact</a>
            </li>
          </ul>
        </nav>
        
        <div class="div_articles">
          <section>
           <h1>Question 5</h1>
           <p class="question">Emoji are a good method of communication, but when exactly?</p>
           <form>
             <label for="q1_1">
                <input type="radio"  id='q1_1' name="q1">
                Semi-Formal Communication
             </label>
             <label for="q1_2">
                <input type="radio" id="q1_2" name="q1">           
                Social Media
            </label>
             <label for="q1_3">
                <input type="radio" id="q1_3" name="q1">
                Clients and Customers
             </label>
             <label for="q1_4">
                <input type="radio" id="q1_4" name="q1">
                Communicating With Your Boss
             </label>
             <div>
                <div>
                <input class="next-question" type="button" Value="Finis" onclick="location.href='../../controllers/index_controller.php';">
                </div>
                <div>
                <p class="current-question">Question 5/5</p>
                </div>
                </div>
           </form>
          </section>
          </div>


    </main>
    <footer>
        Copyright © 2023 
    </footer>
	 
  </body>
</html>