.content h1{
    font-size:40px;
    border-left:10px solid rgb(247, 86, 86);
}
.content p {
    font-size:25px;
}
.content ol 
{
    font-size: 20px;
    

}
.content ol li
{
    margin-top: 2em;
    margin-bottom:2em ;
}
