<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manners Matter</title>
    <link rel="icon" type="image/x-icon" href="./../Manners Matter/views/images/favicon.png">
    <link rel="stylesheet" href="./views/styles_admin/style.css">
    <link rel="stylesheet" href="./views/styles_admin/login.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="Admin_Advice">Manners Matter</a>
      </div>
      <div class="title">
         Login
      </div>
      <div class="profile">
        <div class="username">
          <a href="Admin_Login">Login</a>
        </div>
        <div class="dropdown_profile">
          <div class="avatar">
          </div>

          <div class="dropdown_content">
            <a href="Admin_Login">Logout</a>
          </div>
        </div>
      </div>

  </header>
    <main>
      <nav>
        <ul>
          <li>
            <a href="Admin_Advice">Add Advices</a>
          </li>
          <li>
            <a href="Admin_Question">Add Questions</a>
          </li>
          <li>
            <a href="Admin_Feedback">View the feedback</a>
          </li>
          <li>
            <a href="Admin_Articles">Add Articles</a>
          </li>
        </ul>
      </nav>
        
        <div class="div_articles">
          <div class="signin_box">
            <h1>Login</h1>
            <form method="post">
                <div class="field">
                    <label>Username</label>
                    <input id="username" type="text" required >
                </div>
                <div class="field">
                    <label>Password</label>
                    <input id="password" type="password" required >
                </div>
                 
                <input type="submit" value="Login">           

            </form>
        </div>
        </div>


    </main>
    <footer>
        Copyright © 2023 
    </footer>
	 
  </body>
</html>